.author-container{
display: grid;
grid-template-columns: 3fr 1fr;
}
.author-info-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-right: 1px solid gray;
    margin-right: 10px;
    margin-left: 30px;
    padding: 20px;
}